body {
    font-family: 'Roboto', sans-serif;
}
.logo-left-part {
    font-family: 'Raleway', sans-serif;
    color: #2196f3;
    font-weight: 700;
}
.logo-right-part {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-weight: 700;
}
.main-link-decor {
    text-decoration: none;
}
.active {
    color:#2196f3;
    
}
nav a {
    color:#212121;
    text-decoration:none;
    padding: 32px;

}
.header {
    background: #2f303a;
    height: 600;
    width: 1600;
}
.mainheader {
    color: white;
}

.category-selection {
    color: #212121;
}
.category-selection .category-select:hover,
:focus {
}
